<!--  breadcrumbs.html  -->
<nav>
  <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item">
          <a class="govuk-header__link" href="{{ item.link }}" data-install="{{ item.name }}">
            {{ item.name }}
          </a>
        </li>
  </ul>
</nav>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    {% for item in site.data.breadcrumbs %}
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ item.link }}">{{ item.name }}</a>
    </li>
	{% endfor %}

  </ol>
</div>